requests==2.22.0

vk-api==11.5.0

numpy==1.17.0
scikit-learn
scipy==1.3.1
Keras==2.2.4
tensorflow==1.14.0
nltk
gensim
pymorphy2
pymorphy2-dicts-ru
https://github.com/ktsstudio/kts_linguistics/archive/v0.1.9.tar.gz

prompt_toolkit
